html {
  font-size: 32px;
  font-family: 'Courier New', Courier, monospace;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.wrapper {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex: 0 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 0 0 2rem;
  width: 8rem;
  font-size: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
}