html {
  font-size: 32px;
}

body {
  margin: 0;
  background-color: #574b52;
  color: white;
  font-family: 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  flex: 0 0 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 0 0 2rem;
  width: 8rem;
  font-size: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
}